name: DEPLOY
on:
  push:
    branches:
    - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      
    - name: Setup Node.js environment
      uses: actions/setup-node@v6.1.0
      with:
        cache: npm

    - name: Install dependencies
      run: npm ci

    - name: Build project
      run: npm run build
        
    - name: rsync deployments
      uses: burnett01/rsync-deployments@v8
      with:
        switches: -avzr --delete
        path: dist/
        remote_path: ${{ secrets.REMOTE_PATH }}
        remote_host: ${{ secrets.REMOTE_HOST }}
        remote_port: ${{ secrets.REMOTE_PORT }}
        remote_user: ${{ secrets.REMOTE_USER }}
        remote_key: ${{ secrets.REMOTE_PRIVATE_KEY }}
